.btn {
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    background: linear-gradient(to right, #65e2d9 0%,#339ecc 100%);
    padding: 1.5rem 9.7rem;
    border-radius: 10rem;

    @media (max-width: 35.5em) { // 568px
        padding: 1.25rem 8rem;
    }

}