// COLORS 
$color-dark: hsl(216, 53%, 9%); // (footer background)
$color-dark-1: hsl(217, 28%, 15%); // (intro and email sign up background)
$color-dark-2: hsl(218, 28%, 13%); // (main background)
$color-dark-3: hsl(219, 30%, 18%); // (testimonials background)

$color-white: #fff;

$color-cyan: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$color-blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)

// FONTS
$font-secondary: 'Raleway', sans-serif;
$font-primary: 'Open Sans', sans-serif;

