.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;

    @media (max-width: 48em) { // 768px
        padding: 3rem;
    }

    &__logo-box {
        height: 4rem;
        width: auto;

        @media (max-width: 48em) { // 768px
            height: 3rem;
            width: auto;
        }
    }

    &__logo {
        display: block;
        height: 100%;
        width: auto;
    }
}