.testimonial {
    padding: 5rem 8rem 30rem 8rem;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 4rem;
        position: relative;
    }

    &__box {
        padding: 4rem 3rem 3rem 3rem;
        background-color: $color-dark-3;
        position: relative;
        z-index: 10;
    }

    &__photo-box {
        display: flex;
        align-items: center;
        margin-top: 3rem;
    }

    &__photo {
        height: 4rem;
        width: 4rem;    
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__profile {
        font-weight: 700;

        span {
            display: block;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    &__quote {
        position: absolute;
        top: -3.5rem;
        left: -1rem;
    }

}